[submodule "4.新闻文本分类的作业/Convolutional-KANs"]
	path = 4.新闻文本分类的作业/Convolutional-KANs
	url = https://github.com/AntonioTepsich/Convolutional-KANs.git
[submodule "4.新闻文本分类的作业/torch-conv-kan"]
	path = 4.新闻文本分类的作业/torch-conv-kan
	url = https://github.com/IvanDrokin/torch-conv-kan
[submodule "6.英文评论情感分类的作业/allennlp"]
	path = 6.英文评论情感分类的作业/allennlp
	url = https://github.com/allenai/allennlp.git
[submodule "7.中文语法错误纠正的作业/ELMoForManyLangs"]
	path = 7.中文语法错误纠正的作业/ELMoForManyLangs
	url = https://github.com/HIT-SCIR/ELMoForManyLangs
